.seventh-tag{
  background-color:#E50914!important;
   color:white!important;
  outline:none!important;
  
}

.navbars {
  z-index: 3 !important;
  position: absolute;
  top: 0 !important;
  bottom: 100 !important;
  left: 0 !important;
  right: 0 !important;
  color: white !important;
}
